section {
    border: 2px solid red;
}

.playstation {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 4rem;
}

.playstation img{
    width: 20rem;
}

.playstation p{
    width: 30rem;
    text-align: center;
}

.rtx {
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 4rem;
}

.rtx img{
   width: 20rem; 
}

.rtx p{
    width: 30rem;
    text-align: center;
}